{% extends "base5.html" %}

{% block cuerpo %}
{% load static %}
<div class="row"><!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Empleado</h2>
        <!-- Tarjeta -->
        <div class="card">
            <div class="card-body">
                <form action="/editarEmpleado/" method="post"> 
                    {% csrf_token %}
                    
                    <!-- ID del Empleado -->
                    <div class="form-group">
                        <input type="text" id="txtidemp" name="txtidemp" class="form-control"
                               value="{{ losempleados.id_emp }}" minlength="1" maxlength="6" readonly required >
                    </div>

                    <!-- Nombre -->
                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                               value="{{ losempleados.nombre }}" maxlength="100" required>
                    </div>

                    <!-- Apellidos -->
                    <div class="form-group py-3">
                        <input type="text" id="txtapellidos" name="txtapellidos" class="form-control"
                               value="{{ losempleados.apellidos }}" maxlength="100" required>
                    </div>

                    <!-- Dirección -->
                    <div class="form-group py-3">
                        <input type="text" id="txtdirecc" name="txtdirecc" class="form-control"
                               value="{{ losempleados.direccion }}" maxlength="255" required>
                    </div>

                    <!-- Teléfono -->
                    <div class="form-group py-3">
                        <input type="text" id="numtelefono" name="numtelefono" class="form-control"
                               value="{{ losempleados.telefono }}" maxlength="10" required>
                    </div>

                    <!-- Área General -->
                    <div class="form-group py-3">
                        <input type="text" id="txtareagen" name="txtareagen" class="form-control"
                               value="{{ losempleados.area_gen }}" maxlength="50" required>
                    </div>

                    <!-- Sueldo -->
                    <div class="form-group py-3">
                        <input type="number" id="numsueldo" name="numsueldo" class="form-control"
                               value="{{ losempleados.sueldo }}" min="0" maxlength="6" required>
                    </div>

                    <!-- Botón Guardar -->
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
